<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="/main.css">

<body class="d-flex flex-column h-100">

  <header class="container-fluid ">
    <div class=" row bg-primary">
      <div class="col-md-8 offset-md-2 col-sm-10 offset-sm-1">
        <div id = "navMenu" class="navbar justify-content-start font-weight-bold">
          <a class="nav-item nav-link active pl-0" href="/">Каталог</a>
          <a class="nav-item nav-link pl-0" href="#">Доставка</a>
          <a class="nav-item nav-link pl-0" href="#">Гарантии</a>
          <a class="nav-item nav-link pl-0" href="#">Контакты</a>
          <a class="nav-item nav-link pl-0" href="/panel">Панель управления</a>
        </div>
      </div>
    </div>
  </header>

   <main class="container-fluid">
    <div class = "row p-4">
      <div class="content p-4 bg-white col-md-8 offset-md-2 col-sm-10 offset-sm-1 ">
        <h3><%= textNotFound  %></h3>
      </div>
    </div>
   </main>

  <footer class="container-fluid bg-dark text-white py-3 pl-0">
    <div class="row">
      <div class="col-md-8 offset-md-2 col-sm-10 offset-sm-1">
        <h7 class="font-weight-bold">&#169; Codery.camp, 2019</h7>
      </div>
    </div>
  </footer>

</body>
